*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    cursor: none;
}
body{
    background-color: #141414;
}
body::-webkit-scrollbar{
    display: none;
}
main{
    height: 100%;
    width: 100%;
}
#circle-cursor{
    position: fixed;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 1px solid #c3c3c3c7;
    border-radius: 50%;
    pointer-events: none;
    z-index: 10;
    mix-blend-mode: exclusion;
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #0A0A0A;
    padding: 10vw 4vw;
    z-index: 999;
}
#loader-text h2 {
    font-family: "plain light";
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 600;
    height: 7.5vw;
}
#loader-text p {
    font-family: "plain light";
    margin-top: 3vw;
    margin-left: 22vw;
}
#loader-text span{
    animation-name: loader-italic;
    animation-duration: 1.3s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
}
.line {
    overflow: hidden;
    height: fit-content;
}
.line-1{
    display: flex;
    column-gap: 5vw;
    padding-left: 4vw;
}
#counter-text {
    display: flex;
    column-gap: 0.7vw;
}
#counter-text h3 {
    font-family: "silk serif";
    font-size: 3vw;
    font-weight: 100;
}
#counter{
    width: 4.5vw;
}
@keyframes loader-italic{
    0%{
        font-family: "plain light";
        font-weight: 700;
        opacity: 1;
        color: #fff;
        -webkit-text-stroke: 0px transparent;
    }
    28%{
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        color: transparent;
        font-weight: 100;
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        font-family: "plain light";
        font-weight: 700;
        opacity: 1;
        color: #fff;
        -webkit-text-stroke: 0px transparent;
}
}
#hero{
    height: 90%;
    width: 100%;
    padding: 2.5vw 4vw;
    z-index: 10;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 80px;
}
#logo-section{
    display: flex;
    align-items: center;
    column-gap: 2vw;
    position: fixed;
}
.menu-opener__square rect{
    transition: all ease 0.4s;
}
.menu-opener__square:hover rect{
    fill: #cecece;
}
.brand__svg path{
    transition: all ease 0.4s;
}
.brand__svg:hover path{
    fill: #cecece;
}
#site-title-container{
    width: 29%;
    justify-self: flex-end;
}
#site-title{
    justify-self: flex-end;
}
#site-title p{
    font-family: "plain light";
    font-weight: 500;
    line-height: 1;
}
#social-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2vw;
}
#social-links h4 {
    font-family: "plain light";
    font-weight: 500;
    transition: color 0.4s;
}
#social-links h4:hover{
    color: #cecece;
}
#hero-text{
    padding: 6vw;
    padding-left: 16vw;
    display: flex;
    align-items: flex-start;
    column-gap: 4.5vw;
    position: relative;
    z-index: 10;
}
.section-number{
    font-family: "silk serif";
    font-size: 3.2vw;
    transform: translateY(-0.5vw);
}
#hero-heading span{
    font-family: "plain";
    font-size: 7.4vw;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.85;
    display: inline-block;
}
.hero-line>span{
    opacity: 0;
}
.hero-line{
    height: fit-content;
    overflow: hidden;
    padding-bottom: 0.7vw;
}
.hero-line-3{
    position: relative;
    transition: color 0.4s, -webkit-text-stroke 0.4s;
    padding-bottom: 0.65vw;
    -webkit-text-stroke-width: 1px;
}
.hero-line-3::after{
    content:"";
    height: 0.6vw;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
}
#slash{
    margin-left: 2.5vw;
    padding-left: 1.5vw;
}
#slash::before{
    content: "/";
    position: absolute;
    left: -5.5%;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease 0.4s;
    color: white;
}
.hero-line-3:hover{
    color: transparent;
    -webkit-text-stroke-color: #fff;
}
.hero-line-3:hover::after{
    content:"";
    height: 0;
}
#slash:hover::before{
    color: white;
}
#animating-scroll{
    position: relative;
    bottom: 15%;
    overflow: hidden;
}
#animating-scroll-text{
    font-size: 0.85vw;
    font-family: "plain";
    color: #969696a0;
    position: relative;
    display: inline-block;
}
#flag-img{
    height: 32vw;
    width: 22vw;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
}
#video-section{
    padding-left: 28vw;
    height: 100%;
    width: 100%;
}
#video-container {
    height: 70%;
    width: 100%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    position: relative;
    svg {
    position: absolute;
    opacity: 0;
    width: 24px;
    height: auto;
}
}
#video-cursor{
    position: absolute;
    height: 9vw;
    width: 9vw;
    background-color: #F09C39;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 73%;
    pointer-events: none;
    z-index: 2;
}
#video-cursor .button__play-icon{
    opacity: 1;
}
#video-cursor.is-playing .button__play-icon{
    opacity: 0;
}
#video-cursor.is-playing .button__pause-icon{
    opacity: 1;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}
#projects-section{
    height: auto;
    width: 100%;
    padding: 3vw 4vw;
}
.heading-container{
    padding-top: 4vw;
    padding-left: 16vw;
    display: flex;
    column-gap: 4.5vw;
    .heading{
    font-family: "plain";
    font-size: 7vw;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.9;
    padding-bottom: 100px;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    }
}
#projects-container{
    min-height: 100%;
    width: 100%;
    margin-top: 6vw;
    display: grid;
    align-items: start;
    gap: 0 1.6vw;
    grid-template-columns: 0.6fr 1fr 1fr;
    grid-template-rows: auto;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    img{
        width: 100%;
        object-fit: cover;
    }
    h4{
        font-size: 2vw;
        font-family: "plain light";
        line-height: 0.6;
    }
}
.container:nth-child(5){
    padding-top: 8vw;
}
.container:nth-child(7){
    margin-top: -9vw;
}
.container:nth-child(9){
    padding-top: 10vw;
}
.project-tags{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.8vw;
    border-bottom: 1px solid #fff;
    h6{
        font-size: 0.82vw;
        font-weight: 500;
        font-family: "plain";
        width: 70%;
    }
}
.arrow-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .arrow-circle{
        height: 23vw;
        width: 23vw;
        border: 1px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        svg{
            width: 4.5vw;
        }
    }
}
#arrow1:hover .circle-hover{
    transform: scale(1);
}
#arrow1:hover .circle-hover p{
    transform: scale(1);
    transition: all ease-in 0.2s;
    transition-delay: 0.4s;
}
#arrow2:hover .circle-hover{
    transform: scale(1);
}
#arrow2:hover .circle-hover p{
    transform: scale(1);
    transition: all ease-in 0.2s;
    transition-delay: 0.4s;
}
#arrow3:hover .circle-hover{
    transform: scale(1);
}
#arrow3:hover .circle-hover p{
    transform: scale(1);
    transition: all ease-in 0.2s;
    transition-delay: 0.4s;
}
.circle-hover{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    transform: scale(0);
    transition: all ease 0.5s;
    p{
        color: black;
        width: 50%;
        font-family: "plain light";
        transform: scale(0);
    }
}
#arrow2{
    align-self: flex-start;
}
#arrow2 svg{
    rotate: -45deg;
}
#arrow3 svg{
    rotate: -90deg;
}
._canvas_container{
    z-index: 99 !important;
}
#all-projects{
    margin-top: 10vw;
    height: 23vw;
    width: 23vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    border-radius: 50%;
    background-color: #F09C39;
    transition: all ease 0.4s;
    p{
        font-family: "plain";
        font-weight: 500;
    }
}
#all-projects:hover{
    scale: 0.9;
}
#about-section{
    min-height: 100%;
    width: 100%;
    padding: 2.5vw 4vw;
    hr{
        margin-top: 20vw;
        height: 1px;
        background-color: #ffffffc8;
    }
}
#about-container{
    display: flex;
    flex-direction: column;
    row-gap: 3vw;
    padding-top: 6vw;
    padding-left: 24.2vw;
    >p{
        font-family: "plain";
        font-size: 2.1vw;
        font-weight: 300;
        width: 52%;
    }
}
#about-image{
    display: flex;
    column-gap: 1.5vw;
    position: relative;
    img{
        width: 50%;
        object-fit: cover;
    }
    >p{
        font-family: "plain";
        font-size: 0.9vw;
        font-weight: 100;
        width: 22.8%;
    }
}
#awwards-container{
    width: 55%;
    background-color: #3B76E6;
    position: absolute;
    bottom: -40%;
    left: 35%;
    padding: 2.5vw 3vw;
}
.awward-desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 0;
    border-bottom: 1px solid #ffffffdc;
    h5{
        font-family: "plain";
        font-weight: 300;
        font-size: 1.4vw;
    }
    p{
        font-family: "plain";
        font-weight: 100;
        font-size: 0.9vw;
        width: 40%;
    }
}
#work{
    p{
        font-family: "plain";
        font-weight: 100;
        margin-top: 1vw;
    }
}
#marquee-section{
    width: 100%;
    margin-top: 4vw;
}
.scroll-left{
    white-space: nowrap;
    animation-name: marquee;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    h2{
        font-family: "plain";
        font-size: 7vw;
        font-weight: 100;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        display: inline-block;
        padding-right: 36px;
        line-height: 1.1;
    }
    span h2{
        font-family: "silk serif";
    }
}
.scroll-right{
    white-space: nowrap;
    animation-name: marquee;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
     h2{
        font-family: "plain";
        font-size: 7vw;
        font-weight: 100;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        display: inline-block;
        padding-right: 36px;
        line-height: 1.1;
    }
    span h2{
        font-family: "silk serif";
    }
}
@keyframes marquee{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}