@import 'locomotive-scroll/dist/locomotive-scroll.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    cursor: none;
}
body{
    background-color: #141414;
}
body::-webkit-scrollbar{
    display: none;
}
main{
    height: 100%;
    width: 100%;
}
#circle-cursor{
    position: fixed;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 1px solid #c3c3c3c7;
    border-radius: 50%;
    pointer-events: none;
    z-index: 10;
    mix-blend-mode: exclusion;
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #0A0A0A;
    padding: 10vw 4vw;
    z-index: 999;
}
#loader-text h2 {
    font-family: "plain light";
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 600;
    height: 7.5vw;
}
#loader-text p {
    font-family: "plain light";
    margin-top: 3vw;
    margin-left: 22vw;
}
#loader-text span{
    animation-name: loader-italic;
    animation-duration: 1.3s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
}
.line {
    overflow: hidden;
    height: fit-content;
}
.line-1{
    display: flex;
    column-gap: 5vw;
    padding-left: 4vw;
}
#counter-text {
    display: flex;
    column-gap: 0.7vw;
}
#counter-text h3 {
    font-family: "silk serif";
    font-size: 3vw;
    font-weight: 100;
}
#counter{
    width: 4.5vw;
}
@keyframes loader-italic{
    0%{
        font-family: "plain light";
        font-weight: 700;
        opacity: 1;
        color: #fff;
        -webkit-text-stroke: 0px transparent;
    }
    28%{
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        color: transparent;
        font-weight: 100;
        -webkit-text-stroke: 1px #fff;
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        font-family: "plain light";
        font-weight: 700;
        opacity: 1;
        color: #fff;
        -webkit-text-stroke: 0px transparent;
}
}
#hero{
    height: 90%;
    width: 100%;
    padding: 2.5vw 4vw;
    z-index: 10;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 80px;
}
#logo-section{
    display: flex;
    align-items: center;
    column-gap: 2vw;
    position: fixed;
}
.menu-opener__square rect{
    transition: all ease 0.4s;
}
.menu-opener__square:hover rect{
    fill: #cecece;
}
.brand__svg path{
    transition: all ease 0.4s;
}
.brand__svg:hover path{
    fill: #cecece;
}
#site-title-container{
    width: 29%;
    justify-self: flex-end;
}
#site-title{
    justify-self: flex-end;
}
#site-title p{
    font-family: "plain light";
    font-weight: 500;
    line-height: 1;
}
#social-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2vw;
}
#social-links h4 {
    font-family: "plain light";
    font-weight: 500;
    transition: color 0.4s;
}
#social-links h4:hover{
    color: #cecece;
}
#hero-text{
    padding: 6vw;
    padding-left: 16vw;
    display: flex;
    align-items: flex-start;
    column-gap: 4.5vw;
    position: relative;
    z-index: 10;
}
.section-number{
    font-family: "silk serif";
    font-size: 3.2vw;
    transform: translateY(-0.5vw);
}
#hero-heading span{
    font-family: "plain";
    font-size: 7.4vw;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0.85;
    display: inline-block;
}
.hero-line>span{
    opacity: 0;
}
.hero-line{
    height: fit-content;
    overflow: hidden;
    padding-bottom: 0.7vw;
}
.hero-line-3{
    position: relative;
    transition: color 0.4s, -webkit-text-stroke 0.4s;
    padding-bottom: 0.65vw;
    -webkit-text-stroke-width: 1px;
}
.hero-line-3::after{
    content:"";
    height: 0.6vw;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
}
#slash{
    margin-left: 2.5vw;
    padding-left: 1.5vw;
}
#slash::before{
    content: "/";
    position: absolute;
    left: -5.5%;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease 0.4s;
    color: white;
}
.hero-line-3:hover{
    color: transparent;
    -webkit-text-stroke-color: #fff;
}
.hero-line-3:hover::after{
    content:"";
    height: 0;
}
#slash:hover::before{
    color: white;
}
#animating-scroll{
    position: relative;
    bottom: 15%;
    overflow: hidden;
}
#animating-scroll-text{
    font-size: 0.85vw;
    font-family: "plain";
    color: #969696a0;
    position: relative;
    display: inline-block;
}
#flag-img{
    height: 32vw;
    width: 22vw;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
}
#video-section{
    margin-top: 1.5vw;
    padding-left: 28vw;
    height: 70%;
    width: 100%;
}
#video-container {
    height: 100%;
    width: 100%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    position: relative;
    svg {
    position: absolute;
    opacity: 0;
    width: 24px;
    height: auto;
}
}
#video-cursor{
    position: absolute;
    height: 9vw;
    width: 9vw;
    background-color: #F09C39;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 73%;
    pointer-events: none;
    z-index: 2;
}
#video-cursor .button__play-icon{
    opacity: 1;
}
#video-cursor.is-playing .button__play-icon{
    opacity: 0;
}
#video-cursor.is-playing .button__pause-icon{
    opacity: 1;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}
#projects-section{
    height: 100%;
    width: 100%;
}